{% if product.metafields.product.product_type == 'bundle' or product.metafields.product.product_type == 'sample'  %}
  {% if product.metafields.product.list_bundle_products %}
    {% assign list_bundle = "" %}
    {% assign iter = 1 %}
    
    <p><strong>This Sample Bundle Includes:</strong></p>
    <ul class="bondle_products_list">
      {% for product_bondle in product.metafields.product.list_bundle_products.value %}
         {% assign list_bundle = list_bundle | append: product_bondle.variants.first.id | append: ","  %}
        <li>
          <div class="item">
            <span>{{ iter }}.</span> {% assign iter = iter | plus: 1 %}
            <img class="color_image" src="{{ product_bondle.metafields.custom.color_image | image_url }}" width="50" height="50" loading='lazy'>
            <a href="{{ product_bondle.url }}">{{ product_bondle.title }}</a>
          </div>
        </li>
      {% endfor %}  
    </ul>
    {% assign list_bundle = list_bundle | split: "," | compact %}

    {% if product.metafields.product.product_type == 'bundle' %}
      {% render 'product-quantity-message' with message_for: 'sample', hide_on_first: true, color: 'red' %}
      <button class="bundle_add_button single_add_to_cart_button button " style="width: 100%;" data-list-products='{{ list_bundle | json }}'>
        <span>add to cart</span>
         <div class="loading-overlay">
             {% render 'svg-icons' with 'thb-loading' %}
         </div>
      </button>
    {% endif %}
      
  {% endif %}
{% endif %}