{% if product.metafields.product.product_type == 'piece' or product.metafields.product.product_type == 'mosaic' or product.metafields.product.product_type == 'box' or product.metafields.product.product_type == 'bundle' or with_sample == true %}
  {% if product.metafields.product.sample.value  %}
    {% assign order_sample_product = product.metafields.product.sample.value.selected_or_first_available_variant %}
  {% else %}
    {% for product_variant in product.variants %}
      {% if product_variant.title == 'Sample' %}
        {% assign order_sample_product = product_variant %}  
      {% endif %}
    {% endfor %}
  {% endif %}
    
    {% if order_sample_product %}
      <div class="sample-add-to-cart-wrapper">
        
        <product-form class="product-form" data-section="{{ section.id }}" data-hide-errors="{{ gift_card_recipient_feature_active }}">
          <div class="product-form__error-message-wrapper form-notification error" role="alert" hidden>
              {% render 'svg-icons' with 'thb-error' %}
              <span class="product-form__error-message"></span>
            </div>
          {%- form 'product', product, id: product_form_id, class: 'form order-sample', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input type="hidden" name="id" value="{{ order_sample_product.id }}" disabled>
              {%- if gift_card_recipient_feature_active -%}
                {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
              {%- endif -%}
              <div class="product-add-to-cart-container">
                <div class="form-notification error" style="display:none;"></div>
                <div class="add_to_cart_holder">
                      {%- if block.settings.show_quantity_selector -%}
                      <div id="quantity-{{ section.id }}" {{ block.shopify_attributes }}>
                        <input type="hidden" id="Quantity-{{ section.id }}" name="quantity" form="{{ product_form_id }}" value="1">
                      </div>
                      {%- endif -%}
                      <button type="submit" name="add" id="AddToCart" class="single_add_to_cart_button button {% unless order_sample_product.available %}sold-out{% endunless %}" {% if order_sample_product.available == false %}disabled{% endif %}>
                          <span>
                            Order Sample
                          </span>
                          {% if width_description != false %}
                            <span class="small-text">
                              $5.99. Ships Free in 48 hours!
                            </span>
                          {% endif %}
                          <span class="loading-overlay">
                              {% render 'svg-icons' with 'thb-loading' %}
                          </span>
                      </button>
                      {%- if show_dynamic_checkout -%}
                    {{ form | payment_button }}
                  {%- endif -%}
                </div>
              </div>
          {%- endform -%}
      </product-form>
    </div>
    {% endif %}

{% endif %}

  